#caintains the file that I dont want to end up on the GitHub
#added this too late

#recorded data
Evaluation/recordedData
Evaluation/extracted_frames
Evaluation/corrections (temp).py

#report data
Report/*toc
Report/*log
Report/*aux
Report/*out
Report/*synctex.gz
Report/*blg
Report/*bbl
Report/*fdb_latexmk
Report/*fls
